.vscode/
*/.vscode/
*/*/.vscode/
*/*/*/.vscode/
*/*/*/*/.vscode/
*/*/*/*/*/.vscode/

drugs.png

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/

dev/